<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon icon-menu"></a>

      <div class="trigger">
        {% for page in site.nav %}
          {% if page.title %}
            {% if page.external_url %}
            {% assign url = page.external_url %}
            {% else %}
            {% assign url = page.url | prepend: site.baseurl %}
            {% endif %}
            {% if page.icon %}
            {% assign class = "page-link icon-" | append: page.icon %}
            {% else %}
            {% assign class = "page-link" %}
            {% endif %}
        <a class="{{ class }}" href="{{ url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
